
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 col-xs-12 parter_space">
        <div class="apper_style" routerLink="/apper1">
          <h5> Puzzle </h5>
          <div class="below_part"> Solving the Given Number and Aligning it in the proper way. </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 parter_space">
        <div class="apper_style">
          <h5> Apper </h5>
          <div class="below_part"> Apper is the application name </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 parter_space">
        <div class="apper_style">
          <h5> Apper </h5>
          <div class="below_part"> Apper is the application name </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 parter_space">
        <div class="apper_style">
          <h5> Apper </h5>
          <div class="below_part"> Apper is the application name </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 parter_space">
        <div class="apper_style">
          <h5> Apper </h5>
          <div class="below_part"> Apper is the application name </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 parter_space">
        <div class="apper_style">
          <h5> Apper </h5>
          <div class="below_part"> Apper is the application name </div>
        </div>
      </div>

    </div>
  </div>
