
<header>
    <div class="h_f_p1 actioner" routerLink="apps">
      <img src="assets/img/app.png">
    </div>
    <div class="title_style1">
      <h4> My Apps </h4>
    </div>
    <div class="h_f_p2">
      <img src="assets/img/option.png" (click)="open_menu()" class="actioner">
    </div>
</header>
<div class="nav_style1">

<div class="close_button">

  <span (click)="open_menu()" class="actioner">X</span> <div class="inner_style"> Navigation </div>
  <br>
  <hr>

  <ul class="ul_style1">
    <li> HOME </li>
    <li> CONTACT </li>
    <li> APPLICATION </li>
    <li> ABOUT </li>
    <li> OVERVIEW </li>
  </ul>

</div>

</div>

<section class="middle_first">
  <!-- <app-viewer></app-viewer> -->
  <router-outlet></router-outlet>
</section>
