
<div class="puzzle_container">

  <li (click)="assign(ref1)"> <span class="spot0" #ref1></span> </li>
  <li (click)="assign(ref2)"> <span class="spot1" #ref2></span> </li>
  <li (click)="assign(ref3)"> <span class="spot2" #ref3></span> </li>
  <li (click)="assign(ref4)"> <span class="spot3" #ref4></span> </li>
  <li (click)="assign(ref5)"> <span class="spot4" #ref5></span> </li>
  <li (click)="assign(ref6)"> <span class="spot5" #ref6></span> </li>
  <li (click)="assign(ref7)"> <span class="spot6" #ref7></span> </li>
  <li (click)="assign(ref8)"> <span class="spot7" #ref8></span> </li>
  <li (click)="assign(ref9)"> <span class="spot8" #ref9></span> </li>

</div>
<br><br>

<p class="success_msg1"> You have solved the puzzle :) </p>
